section.wrapper(
  ng-controller="HelooController as Heloo"
  pointer-events=""
  responsive-classes=""
  third-parties=""
  ng-class="[breakpoint, noHover]")

  main.main(ui-view="")
  include ../subModules/Footer/footer.jade
